In [15]:
import pandas as pd
import requests
import json
import os
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

ElSalv_r_value = 6 * (10**9)
Tonga_r_value = 2 * (10**8)
Somalia_r_value = 1.6 * (10**9)
Lebanon_r_value = 8.3 * (10**8)
WU_fee = 0.33

def remittance_gain(r_value, WU_fee):
    
    remittance_gain = (r_value * (1 + WU_fee)) - r_value
                        
    return remittance_gain

FCF = remittance_gain(Lebanon_r_value, WU_fee) + remittance_gain(Somalia_r_value, WU_fee) + remittance_gain(Tonga_r_value, WU_fee) + remittance_gain(ElSalv_r_value, WU_fee)
print(FCF)

2847900000.0

In [16]:
x = .37 * 5.1
print(x) ###r_value taken as percentage of gdp for tonga

1.8869999999999998

In [31]:
time_window_yrs = 30
spy_yearly_return = 0.07

In [27]:



alpaca = tradeapi.REST('AKDHJ7F4KUJLG9Q5OFZ0', 'It55KAr0L6eMk4E1mtmY3KrlRPCZjlBBwcXO57uy', api_version='v2')
tickers = ["KO"]

 
timeframe = "1D"


start_date = pd.Timestamp("1990-08-07", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-08-07", tz="America/New_York").isoformat()

In [28]:
ko_df = alpaca.get_barset(tickers, timeframe, start=start_date, end=end_date, limit=1000).df
ko_df.head()

                              KO
                            open    high      low  close    volume
time
2016-08-18 00:00:00-04:00  44.05  44.260  44.0000  44.09   7555338
2016-08-19 00:00:00-04:00  44.05  44.060  43.7400  43.91   7934654
2016-08-22 00:00:00-04:00  43.94  43.945  43.7250  43.75   6844635
2016-08-23 00:00:00-04:00  43.85  43.980  43.7400  43.84   6281706
2016-08-24 00:00:00-04:00  43.82  43.940  43.6641  43.85  10046905

In [33]:
ko_close_prices = ko_df["KO"]["close"]
ko_daily_return = ko_close_prices.pct_change().dropna() 
ko_yearly_return = ko_daily_return.mean() * 252
print(ko_yearly_return)

0.041530609941287475

In [41]:
#market cap for one same corner of the greater supply. The will be a general proxy for Bitcoin's financial efficieny extrapolated into the gloabl economy 

def capitalization(FCF, annual_discount_rate):
    present_value = FCF / annual_discount_rate
    return present_value

btc_r_Mcap_SPY = capitalization(FCF, spy_yearly_return) 
print(btc_r_Mcap_SPY)
btc_r_Mcap_KO = capitalization(FCF, ko_yearly_return) 
print(btc_r_Mcap_KO)

40684285714.28571
68573517317.13366

In [43]:
#grossing up btc future cash flows to total supply

total_r = ElSalv_r_value + Tonga_r_value + Somalia_r_value + Lebanon_r_value
btc_marketcap = 1* (10**12)
r_pct_of_total_Mcap = total_r/btc_marketcap
print(r_pct_of_total_Mcap)
btc_Mcap_presV = btc_r_Mcap_KO / r_pct_of_total_Mcap
print(btc_Mcap_presV)

0.00863
7945946386689.879

In [44]:
btc_Mcap_presV / (21 * (10**6)) #pres value of one btc once all are mined

378378.3993661847